DEFAULT menu.c32
PROMPT 0
TIMEOUT 50

MENU TITLE RLSD
MENU CLEAR

LABEL rlsd
MENU LABEL Boot normally
KERNEL /boot/bzImage
INITRD /boot/initrd.xz

LABEL auto
MENU LABEL Boot and try to guess the display resolution
KERNEL /boot/bzImage
INITRD /boot/initrd.xz
APPEND vga=ask

LABEL text
MENU LABEL Boot in text mode
KERNEL /boot/bzImage
INITRD /boot/initrd.xz
APPEND nomodeset

LABEL dev
MENU LABEL Boot in developer mode
KERNEL /boot/bzImage
INITRD /boot/initrd.xz
APPEND secure=0
